.FooterDiv{
    text-align: center;
    color: gray;
    font-weight: 800;
    position: relative;
    top: 50px;
}

.FooterBigText{
    position: relative;
    top: 10px;
    font-size: 15px;
}

.FooterSmallText{
    font-size: 13px;
}