.PlayListDiv{
    height: 100vh;
    padding: 30px;
    border-radius: 10px;
    background-color: rgba(219, 219, 219, 0.473);
}

.PlayListBar{
    display: flex;
    justify-content: space-evenly;
}

.AlbumPhoto{
    width: 60px;
    height: 60px;
    border: 1px solid black;
}

.PlayListMusicBar{
    display: flex;
    justify-content: space-evenly;
}

.Icon{
    position: relative;
    
}

.WriteBtn2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 200px;
}

.PlyBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    top:15px;
    flex-direction: row;
}

.PagingNumberDiv{
    display: flex;
    
}

.PreviousPage, .NextPage{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    border: 3px solid #F1C164;
}